*{
    margin : 0;
}
#logo{
    width : 150px
}

#header{
    display : flex;
    justify-content: space-between;
    padding-left :100px;
    padding-right : 100px;
    padding-top : 20px;
    background-color: #eee;
    box-shadow: 1px;

}

.bar{
    padding : 20px;
    color : #666;
    cursor : pointer;
}

#landing{
    display : flex;
    justify-content: center;
    padding-top : 80px;

}

#photo{
    width : 800px
}

#data1{
    display : flex ;
    justify-content : center;
    padding-top : 45px;
}

#data2{
    display : flex ;
    justify-content : center;
    padding-top : 10px;
}

#btn{
    display : flex ;
    justify-content : center;
    padding-top : 25px;
}

button{
    background-color: #387ed1;
    color : white;
}